<div class="uk-child-width-1-2@m" uk-grid>
  <div>
    <div class="uk-inline">
      <img src="img/404.jpg" alt="">

      <div class="uk-overlay uk-overlay-default uk-position-top">
        <p><a href="/" class="uk-icon-button" uk-icon="home"></a></p>
      </div>
    </div>
  </div>
</div>


