<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
        <li class="uk-active">Home</li>
        <li class="uk-parent"><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
